/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2020, 11:08:37 PM
    Author     : Dutliff
*/
.back-red{
    background-color: red;
}
.back-green{
    background-color: greenyellow;
}

.sabtn,
.sabtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    margin: 5%;
    padding: 5%;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
}

.sabtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.sabtn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.sabtn-white {
    color: black;
}

.sabtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.sabtn-white::after {
    background-color: #fff;
}

.sabtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.sabtn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}




.addbtn,
.addbtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: flex;
    border-radius: 100px;
    transition: all .2s;
    position: fixed;
    bottom:12%
}

.addbtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.addbtn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.addbtn-white {
    background-color: #fff;
    color: #777;
}

.addbtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.addbtn-white::after {
    background-color: #fff;
}

.addbtn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.addbtn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.btn {
    float: right;
    line-height: 325%;
    height: 50px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    margin-top:10px;
}
.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:active span {
    letter-spacing: 2px;
}
.btn-one:active::before {
    opacity: 1;
    transform: scale(1, 1);
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:active::after {
    opacity: 0;
    transform: scale(0.1, 1);
}


.login {
  position: relative;
  background-color: #0081b6;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.login:after {
  content: "";
  background: #002e4b;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.login:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}